rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /users/{employeeId} {
      allow read: if signedIn();
      allow write: if signedIn();
    }

    match /tasks_clean/{taskId} {
      allow read, write: if signedIn();
    }

    match /modReports_clean/{reportId} {
      allow read, write: if signedIn();
    }
  }
}
